---
layout: default
title: Categories
permalink: /categories
---
<h1>Topics</h1>

{% assign categories = site.emptyArray %}
{% for note in site.notes %}
  {% assign categories = categories | concat:note.categories %}
{% endfor %}

{{ categories }}
<hr />
{% for note in site.notes %}
  {{note.relative_path}}
{% endfor %}

<hr />
{{ dir }}
<ul>
  {% for category in site.categories %}
    <li>
      <h2><a href="{{ category.url }}">{{ category.name }}</a></h2>
      <p>{{ category.content | markdownify }}</p>
    </li>
  {% endfor %}
  
</ul>