<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" 
                id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                >
                Topics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                
                {% for topic in site.topics %}
                    <a class="dropdown-item" href="{{ topic.url }}">{{ topic.name }}</a>
                {% endfor %}
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                
                {% for t in site.test_tags %}
                    <a class="dropdown-item" href="{{ t.url }}">{{ t.name }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>


