---
layout: default_bs4grid
---

<div class="row bg-secondary text-secondary px-3 pt-3">
  <h1>
    {{ page.title }}
  </h1>
</div>

<div class="row bg-secondary text-secondary px-3">
  <h6>
    Related tags: {{page.tags | join: ", "}}
  </h6>
</div>
<div class="row bg-secondary text-secondary px-3">
  {{ content }}
</div>


<div class="row bg-secondary text-secondary px-3 pb-3">
  just tags:<br />
  {{page.tags}}<br />
  {% for c in page.tags %}
  array: {{c}}
  {%endfor%}
</div>

{% assign fruits = "array, oranges, peaches" | split: ", " %}
<div class="row bg-secondary text-secondary px-3 pb-3">
  concat:

  {% assign everything = page.tags | concat: fruits %}
  {% for c in everything %}
  array: {{c}}
  {%endfor%}
</div>

<div class="row bg-secondary text-secondary px-3 pb-3">
  uniq:

  {% assign everything2 = everything | uniq %}
  {% for c in everything2 %}
  array: {{c}}
  {%endfor%}
</div>