---
layout: default_bs4grid
---

<div class="row bg-secondary text-secondary px-3 pt-3">
  <h1>
    {{ page.title }}
  </h1>
</div>

<div class="row bg-secondary text-secondary px-3">
  <h6>
    Related tags: {{page.tags | join: ", "}}
  </h6>
</div>
<div class="row bg-secondary text-secondary px-3">
  {{ content }}
</div>

{% assign fruits = "apples, oranges, peaches" | split: ", " %}
{% assign vegetables = "carrots, turnips, potatoes" | split: ", " %}

{% assign everything = fruits | concat: vegetables %}

{% for item in everything %}
- {{ item }}
{% endfor %}
<div class="row bg-secondary text-secondary px-3 pb-3">
    {% assign page_tags_s = page.tags | split: "," %}
    {% assign page_tags_c = page.tags | size %}
    {{page_tags_s}}<br />
    {{page.tags}}<br />
    {{page_tags_c}}
  <div class="flex-content">
    {% for note in site.notes %}
      title {{note.title}}
      tags {{note.tags}}
    
      {% assign note_tags_s = note.tags | split: "," %}
      {% assign note_tags_c = note_tags_s | size %}
      {% assign total_tags_c = note_tags_c | plus: page_tags_c %}
      note tag array: {{note_tags_s}}
      note tag size {{note_tags_c}}
      total size {{total_tags_c}}

      {% assign combine_tags = page_tags_s | concat: note_tags_s %}
      {% assign combine_tags_u = combine_tags | uniq %}
      {% assign combine_tags_c = combine_tags_u | size %}

      {% for c in combine_tags %}
        array: {{c}}
      {%endfor%}
      combine tag {{combine_tags}}
      combine tag unique {{combine_tags_u}}
      combine tag size {{combine_tags_c}}
      {% if total_tags_c > combine_tags_c %}
        <a href="{{note.url}}" class="btn btn-info" role="button">{{note.title}}/{{total_tags_c}}/{{combine_tags_c}}</a>
        {%else%}
        {{note.title}}+---------------------
      {% endif %}
    {% endfor %}

  </div>
</div>
